<div>
  <h1>Componente Input</h1>
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" [(ngModel)]="title" name="input">
  <input matInput placeholder="Ex. Pizza" [(ngModel)]="subtitle" name="input" style="margin-top: 10px;">
  <input matInput placeholder="test" style="margin-top: 10px;" (input)="onInput($event)">
  <button mat-raised-button color="primary" (click)="onClick($event)">Primary</button>
  <button mat-raised-button color="primary" (click)="isVisible = !isVisible">test</button>

  <!-- <p *ngIf="isVisible;else bloccoElse">{{title}}</p>
    <ng-template #bloccoElse>
    <p *ngIf="isVisible">non visibile</p>
  </ng-template> -->
</div>
<app-prova [title]="title"></app-prova>

<app-prova2 [title]="title" [test]="isVisible"></app-prova2>