.example-card {
  width: 400px;
}

.example-card__img {
  width: 300px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
