<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{cani[0].nome.toUpperCase()}}</mat-card-title>
    <mat-card-subtitle>{{cani[0].razza}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{cani[0].descrizione}}</p>
    <img mat-card-image [src]="isDisabled?immagine1:immagine2" alt="Photo of a Shiba Inu">
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="isDisabled">Bottone disabilitato o no</button>
  </mat-card-actions>
</mat-card>