<hr>
<h1>Componente prova</h1>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{cani[0].nome.toUpperCase()}} + {{title}}</mat-card-title>
    <mat-card-subtitle>{{cani[0].razza}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{cani[0].descrizione}}</p>

    <img mat-card-image [src]="isDisabled?immagine1:immagine2" class="example-card__img" alt="Photo of a Shiba Inu">
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [color]="isDisabled?'primary':'warn'"
      (click)="changeButtonColor(isDisabled?immagine1:immagine2)">Bottone
      disabilitato o no</button>
  </mat-card-actions>


  <div *ngFor="let city of data;index as i;count as dataLength">
    <div *ngIf="i==0">Lunghezza array {{dataLength}} elementi</div>
    <span>{{i}})</span> {{ city.name.common }}
    <span class="font-bold" *ngIf="city.name.common == 'Italy'">- {{ city.name.official }}</span>
  </div>

</mat-card>