<hr>
<h1>Componente 3 VARIABILI TEMPLATE - PIPES </h1>

<input #inputSaluti value="cieao">

<p appHighlight [coloreHilight]="colore">paragrafo con direttiva minuto 8! </p>

<!-- PIPES -->
<p>Ciao benvenuto al {{ title | uppercase}}</p>
<p>oggi {{oggi | date:'dd-MM-yyyy'}}</p>


<div *ngFor="let city of dataComponente;index as i;count as dataLength; odd as isOdd">
    <div *ngIf="i==0">Lunghezza array {{dataLength}} elementi</div>
    <div [ngStyle]="{'color': isOdd ? 'red' : 'green','font-weight': isOdd ? 'bold' : 'light'}"
        [ngClass]="isOdd ? 'background-blue' : 'background-yellow'">
        <span>{{i}})</span> {{ city.name.common }}
        <span class="font-bold" *ngIf="city.name.common == 'Italy'">- {{ city.name.official }}</span>
    </div>
</div>